<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="personService" class="ru.uvarov.students.service.PersonService"/>

    <bean id="fileService" class="ru.uvarov.students.service.FileService"/>

    <bean id="questionsService" class="ru.uvarov.students.service.QuestionsService">
        <constructor-arg name="fileService" ref="fileService"/>
    </bean>

    <bean id="ioService" class="ru.uvarov.students.service.IOService">
        <constructor-arg name="personService" ref="personService"/>
        <constructor-arg name="questionsService" ref="questionsService"/>
    </bean>

</beans>
